.user-info {
  width: 104%;
  height: 105%;
  margin: 10px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  color: black;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 9%;
  overflow: hidden;
}

.outer-border {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(147, 197, 114);
  box-sizing: border-box;
  border-top-left-radius: 9%;
  height: 225px;
  width: 275px;
  overflow: hidden;
}

p {
  margin: 0;
}
.name {
  margin-bottom: 5px;
}
.name-label {
  font-weight: bold;
  color: #333;
  margin-top: 0;
}

.username {
  margin-bottom: 5px;
}
.username-label {
  font-weight: bold;
  color: #333;
}

.email {
  margin-bottom: 5px;
}
.email-label {
  font-weight: bold;
  color: #333;
}

.block-button,
.unblock-button {
  background-color: #333;
  padding: 3px;
  margin-right: 5px;
}

.profile-button {
  background-color: rgb(81, 126, 51);
  padding: 3px;
}
.profile-button:hover {
  background-color: rgb(147, 197, 114);
}
