.title-input-style {
  border-color: rgb(81, 126, 51);

  background-color: transparent;
  color: black;
  width: 500px;
}

.comment-field-style {
  border-color: rgb(81, 126, 51);

  background-color: transparent;
  border-width: 2px;
  border-style: outset;
  color: black;
  width: 850px;
}

.outer-create-post-container {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(147, 197, 114);
  box-sizing: border-box;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.inner-create-post-container {
  width: 100%;
  height: auto;
  margin: 10px;
  margin-bottom: -10px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(214, 224, 215);
  box-sizing: border-box;
  color: black;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  overflow: hidden;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5); /* Spread out */
}

.create-post-header {
  font-size: small;
  margin-bottom: 4px;
  color: rgb(81, 126, 51);
}

.post-title {
  font-size: 25px;
  margin-bottom: 4px;
  color: rgb(81, 126, 51);
}

.post-content {
  font-weight: 700;
  font-size: 18px;
  color: rgb(81, 126, 51);
}

button {
  background-color: rgb(81, 126, 51);
  padding: 6px;
  border: none;
  color: white;
}

button:hover {
  background-color: rgb(147, 197, 114);
  transform: scale(1.11);
}
