.user-profile-container .edit-row {
  display: flex;
  align-items: center;
}

.user-profile-container .edit-row p {
  margin-right: 5px;
}

.user-profile-container .edit-row input {
  margin-right: 5px;
}

.user-profile-container .edit-row button {
  margin-right: 10px;
}

.user-profile-container .edit-row button:last-child {
  margin-right: 5px;
}

.profile-info > p {
  display: block;
}

.user-info-container {
  width: 100%;
  height: auto;
  margin: 10px;
  margin-bottom: -10px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  color: black;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  overflow: hidden;
}

.outer-border-container {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(52, 129, 31);
  box-sizing: border-box;
  height: auto;
  width: auto;
  overflow: hidden;
}

.edit-button {
  background-color: green;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.update-button {
  background-color: green;
  padding: 3px;
  margin-right: 3px;
}

.cancel-button {
  background-color: black;
  padding: 3px;
}
