.user-profile-container .edit-row {
  display: flex;
  align-items: center;
}

.user-profile-container .edit-row p {
  margin-right: 5px;
}

.user-profile-container .edit-row input {
  margin-right: 5px;
  width: 60%;
}

.user-profile-container .edit-row button {
  margin-right: 10px;
}

.user-profile-container .edit-row button:last-child {
  margin-right: 5px;
}

.profile-info > p {
  display: block;
}
.user-profile-container {
  display: grid;
  justify-items: start;
}
.user-info-container {
  width: 105%;
  height: auto;
  margin: 0px;
  margin-bottom: -10px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  color: black;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  overflow: hidden;
}

.user-outer-border-container {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(147, 197, 114);
  box-sizing: border-box;
  height: auto;
  width: auto;
  overflow: hidden;
}

.user-posts-container {
  width: 104%;
  height: auto;
  margin: 0px;
  margin-bottom: -10px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  color: black;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  overflow: hidden;
}
.posts-outer-border-container {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(147, 197, 114);
  box-sizing: border-box;
  height: auto;
  width: auto;
  overflow: hidden;
}
.edit-button {
  background-color: rgb(81, 126, 51);
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-top: 1px;
}
.edit-button:hover {
  background-color: rgb(147, 197, 114);
  border-color: transparent;
}

.update-button {
  background-color: rgb(81, 126, 51);
  padding: 3px;
  margin-right: 3px;
}
.update-button:hover {
  background-color: rgb(147, 197, 114);
}

.cancel-button {
  background-color: black;
  padding: 3px;
}
.cancel-button:hover {
  background-color: gray;
}

.new-first-name-field {
  margin-right: -75px;
  border-color: green;
  background-color: transparent;
  color: black;
}

.new-last-name-field {
  margin-right: -70px;
  border-color: green;
  background-color: transparent
  color: black;
}

.posts-list {
  list-style: none;
  padding: 0;
}

.posts-list li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.posts-list li::before {
  content: "•";
  color: rgb(26, 46, 12);
  margin-right: 0.5em;
}

.posts-list li h1 {
  color: #1d6e42;
  font-size: 28px;
}

.posts-list li h1:hover {
  color: rgb(147, 197, 114);
}
